<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<div class="mx-auto" style="width: 200px;">
  <div *ngIf="enterCrypto">
    <div class="ui raised segment">
      <h2 class="ui header"></h2>
      <form #f="ngForm" (ngSubmit)="currencyService($event,f.value)" class="ui form">

        <div class="form-group">
          <label for="cryptCrrInput">Crypto Currency</label>
          <input type="text" id="cryptCrrInput" name="cryptCrrInput" ngModel>
        </div>

        <div class="form-group">
          <label for="actCurrInput">Actual Currency</label>
          <input type="text" id="actCurrInput" name="actCurrInput" ngModel>
        </div>

        <button type="submit" class="button btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>


<div class="mx-auto" style="width: 50%;">
  <div *ngIf="converts" class="container">
    <div class="content">
      Price {{converts.ticker.base}} / {{converts.ticker.target}}
      <div class="pricePer">
        {{converts.ticker.price | currency:converts.ticker.target}}
      </div>
    </div>
    <div class="value">
      updated on {{converts.timestamp|date}}
    </div>
  </div>

  <table *ngIf="informations" class="table table-striped table-bordered">
    <thead>
      <tr text-center>
        <th scope="col">Market</th>
        <th scope="col">Price</th>
        <th scope="col">Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr text-center *ngFor="let markets of informations">
        <td>{{markets.market }}</td>
        <td>{{markets.price}}</td>
        <td>{{markets.volume}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mx-auto" style="width: 200px; padding: 1%">
  <button type="button" (click)="enterCryptoCurr()" class="btn btn-success">Enter Currencies</button>
</div>
